:root {
    /* Colors */
    --primary-black-color: #2A2A2A;
    --primary-text-color: #AFAFAF;
    --primary-white-color: #FFFFFF;
    --accent-color: #0d6efd;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #afafaf;
    margin: 0;
    padding: 0;
    background-color: var(--primary-white-color);
}

/* Reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Common */

.section {
    margin: 130px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

.section-title {
    @media (max-width: 320px) {
        font-size: 26px;
    }

    position: relative;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    color: #2a2a2a;
}

.section-title.privacy-title {
    margin-bottom: 75px;
}

.section-title::after {
    content: url("../images/title-line.svg");
    position: absolute;
    bottom: -30px;
    left: calc(50% - 45px / 2);
}

.text {
    @media (max-width: 576px) {
        font-size: 14px;
    }

    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    color: var(--primary-text-color);
}

/* Header */

.header {
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 0 15px;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.03);
    background-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.header__burger-btn {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.burger-btn__row-second {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--primary-black-color);
}

.burger-btn__row-second::before {
    content: "";
    width: 75%;
    height: 2px;
    position: absolute;
    display: block;
    left: 0;
    top: -10px;
    transition: all 0.4s;
    background-color: var(--primary-black-color);
}

.burger-btn__row-second::after {
    content: "";
    position: absolute;
    display: block;
    width: 75%;
    height: 2px;
    top: 10px;
    transition: all 0.4s;
    background-color: var(--primary-black-color);
}

.logo {
    display: block;

}

.mobile-menu {
    display: none;
}


.header__list {
}

.header__item {
    display: block;
    background: #f7f7f7;
}

.header__link {
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #191a20;
}

@media screen and (max-width: 768px) {
    .header.open .mobile-menu {
        transform: translateY(-200%);
    }

    .header__burger-btn {
        display: flex;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top: 100px;
        left: 5%;
        width: 90%;
        transition: all 0.3s ease-in-out 0.3s;;
    }

    .header__item {
        border-bottom: 1px solid #e7e7e7;
    }
}

/* Hero */

.hero {
    position: relative;
    /*padding: 226px 0 30px;*/
    padding: 250px 0 150px;
}

@media (min-width: 992px) {
    .hero:before {
        content: '';
        background-image: url(../images/hero-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 45px;

    @media (min-width: 992px) {
        flex-direction: row;
    }
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title {
    @media (max-width: 320px) {
        font-size: 32px;
    }

    font-weight: 700;
    font-size: 50px;
    line-height: 1.4;
    text-align: center;
    color: var(--primary-black-color);
}

.hero-subtitle {
    font-weight: 400;
    width: 100%;

    @media (min-width: 992px) {
        color: var(--primary-black-color);
    }
}

.hero-btn-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero-link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    border-radius: 25px;
    background-color: #4b8ef1;
    color: #fff;
}

.hero-image-wrapper {
    width: 100%;
}

@media (min-width: 992px) {
    .hero-image-wrapper, .hero-text-wrapper {
        width: 50%;
    }
}

/* Privacy */

.privacy-container {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;

    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .privacy-container::after {
        content: url("../images/privacy-bg.jpg");
        position: absolute;

        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.privacy-title {
    @media (min-width: 992px) {
        text-align: start;
    }
}

@media (min-width: 992px) {
    .privacy-title::after {
        left: 0;
    }
}

.privacy-list-wrapper {
    @media (min-width: 1200px) {
        width: calc(50% - 30px);
    }
}

.privacy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.privacy-list-item {
    padding: 18px 30px 10px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    background-color: var(--primary-white-color);

    @media (min-width: 992px) {
        width: calc(50% - 15px);
    }
}

.privacy-item-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-black-color);
    /*transition: all .3s;*/
}

.btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.privacy-btn {
    display: block;
    padding: 10px 20px;
    width: fit-content;
    font-size: 15px;
    color: var(--primary-white-color);
    text-transform: capitalize;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
    border: none;
    border-radius: 20px;
    font-weight: 500;
    /*transition: all .5s;*/
}

.privacy-span {
    font-size: 14px;
    color: #7a7a7a;
}

/* Terms */

.section-terms {
    margin-top: 130px;
    position: relative;
}

.section-terms::before {
    content: '';
    background-image: url(../images/services-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 1136px;
    height: 244px;
    z-index: -1;
}

.terms-section-title {
    margin-bottom: 50px;
}

.terms-section-title::after {
    @media (min-width: 992px) {
        left: calc(50% - 45px / 2);
    }
}

/* Footer */
